@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Stack+Sans+Headline:wght@200..700&display=swap');


:root {
    --primary: #F50079;
    --secondary: #A40075;
    --gradiant: linear-gradient(to bottom, #A40075, #F50079);
    --transparentbackgraound: rgba(255, 255, 255, 0.7);
    --graycolor: #d6d6d6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gradiant);
    background-color: white;
}

header>nav>ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    gap: 25px;
}

#menu-toggle,
.hamburger {
    display: none;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: #ffff;
}
header>nav>.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>nav>.logo p{
    letter-spacing: 10px;
    font-size: 20px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-links label {
    display: block;
    width: 100%;
}

.nav-links li {
    list-style: none;
    padding: 10px 18px;
}

.nav-links a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
    font-size: 16px;
}
.nav-links li a:hover {
    color: white; 
}
#menu-toggle {
    display: none;
}
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    transition: .4s;
}
/* home section */
.hero-section {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../Assets/hero2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
}

.hero-section .content {
    font-size: 35px;
    width: 60%;
    color: #fff;
    position: relative;
}

/* aboutsection */
.about-section {
    text-align: center;
    padding: 40px 0;
    height: auto;
    background: #eef2f7;
}

.about-section>.aboutcontent {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin: 0 auto;
    gap: 10px;
}

.about-section>.aboutcontent img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}

.aboutcontent p {
    line-height: 1.7;
    font-size: 17px;
    color: #000000;
}

.about-section h2 {
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about-section button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #f32170, #ff6b08);
    font-size: 18px;
}

.about-section button a {
    text-decoration: none;
    color: #fff;
}

/* course-section */

.course-section {
    text-align: center;
    padding: 70px 0;
}

.course-subtitle {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 40px;
}

.course-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.cardcontainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    height: 250px;
    background: white;
    border-radius: 15px;
    cursor: pointer;

    background:var(--gradiant);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
}

.cardinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    gap: 5px;
}

.cardinner i {
    font-size: 70px;
}

.html-icon {
    color: #e44d26;
}

.css-icon {
    color: #1572B6;
}

.js-icon {
    color: #f7df1e;
}

.cardinner p {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.cardinner p a {
    text-decoration: none;
    color: white;
}

/* pricing-section */
.pricing-section {
    text-align: center;
    padding: 60px 0;
    background: #eef2f7;
}

.pricing-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
     background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pricing-card {
    width: 280px;
    padding: 25px;
    border-radius: 20px;

    background: var(--gradiant);

    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.4);

    color: #fff;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);

    transition: 0.3s ease;
}

.pricing-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 15px 35px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #B10080, #FF1A92);
}

.pricing-card h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.pricing-card h1 {
    font-size: 40px;
    margin: 15px 0;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.pricing-card ul li {
    font-size: 16px;
    margin-bottom: 8px;
}

.pricing-card button {
    padding: 10px 20px;
    background: #fff;
    border: none;
    border-radius: 25px;
    color: #A40075;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.pricing-card button:hover {
    background: #ffd6ec;
}

.contact-section {
    /* background: #eef2f7; */
    padding: 70px 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.title {
    font-size: 42px;
    font-weight: 700;
}

.underline {
    width: 70px;
    height: 4px;
    background: #e0006f;
    margin: 10px auto 25px auto;
    border-radius: 5px;
}

.subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 50px;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 10px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon-box {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #c9006a, #ff008c);
    color: #fff;
    font-size: 20px;
}

.info-text {
    font-size: 16px;
    color: #444;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 350px;
}

.contact-form input,
.contact-form textarea {
    background: #fff;
    border: none;
    padding: 14px;
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.send-btn {
    background: linear-gradient(135deg, #c9006a, #ff008c);
    padding: 14px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.send-btn:hover {
    opacity: 0.9;
}

/* footersection */

.footer {
    background: #d9d9d9;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer-icons {
    display: flex;
    gap: 20px;
}

.footer-icon {
    font-size: 28px;
    color: #000;
}

.footer-text {
    font-size: 16px;
    color: #000;
}

@media (max-width: 768px) {

    header nav {
        padding: 10px 20px;
        position: relative;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 20;
    }

    .nav-links {
        position: absolute;
        top: 70px;               
        right: 20px;             
        width: 170px;            
        background: white;
        border-radius: 12px;
        padding: 15px 0;
        display: none;

        flex-direction: column;
        list-style: none;
        text-align: left;
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        gap: 10px;
        z-index: 999;
    }

    .nav-links li {
        padding: 8px 18px;
    }

    .nav-links li a {
        color: black;
        font-size: 16px;
        display: block;
    }
 

    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }

      .hamburger span {
        width: 30px;
        height: 3px;
        background: #000;
        border-radius: 5px;
        transition: 0.4s ease;
    }

    #menu-toggle:checked + .hamburger span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #menu-toggle:checked + .hamburger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburger span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .about-section {
        height: auto; 
        padding: 40px 0;
    }
    .navbar>.logo img{
        width: 50px;
        height: auto;
    }
    .nav-links li a:hover {
    color: var(--secondary); 
}

    .aboutcontent {
        flex-direction: column;  
        text-align: center;
        gap: 20px;
    }

    .about-section .aboutcontent img {
        width: 90%;
        height: auto;
        box-shadow: none;
    }

    .aboutcontent p {
        font-size: 15px;
        padding: 0 15px;
    }
    .contact-wrapper {
        flex-direction: column;  
        gap: 40px;
        align-items: center;
    }

    .contact-info {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .info-row {
        justify-content: center;
    }
    .info-text {
    line-height: 1.2;
    display: flex;
    align-items: center;
}

    .contact-form {
        width: 90%;
    }
}

@media (max-width: 480px) {

    .hero-section .content {
        font-size: 18px;
    }
   header>nav>.logo p{
    font-size: 10px;
    letter-spacing: 5px;
   }
    .about-section .aboutcontent p {
        font-size: 14px;
    }
    .card {
        width: 95%;
    }
    .pricing-card h1 {
        font-size: 30px;
    }

    .pricing-card h3 {
        font-size: 18px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    .send-btn {
        font-size: 16px;
        padding: 10px;
    }

    .footer-icon {
        font-size: 24px;
    }

    .footer-text {
        font-size: 14px;
    }
}
